### LIBRERIE

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

### CARICO IL DATASET IN MEMORIA

In [2]:
user=276
df = pd.read_csv('C:\\Users\\cuomo\\Desktop\\tesina sistemi intelligenti per internet\\datasets\\ratings.csv')
df_film = pd.read_csv('C:\\Users\\cuomo\\Desktop\\tesina sistemi intelligenti per internet\\datasets\\movies.csv')

In [3]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
df.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [5]:
rating_matrix = df.pivot(index = 'userId', columns = 'movieId', values = 'rating').fillna(0)

In [6]:
rating_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### SOTTRAI LA MEDIA DELL'UTENTE A OGNI SUO RATE - ADJUSTED COSINE SIMILARITY

In [7]:
new = rating_matrix.sub(rating_matrix.mean(),axis=0).transpose().fillna(0)
new

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,2.618033,-0.618852,-0.277869,-0.027049,3.753279,-0.659836,4.218033,-0.037705,-0.081967,-0.756557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-1.381967,-0.618852,-0.277869,-0.027049,-0.246721,3.340164,-0.281967,3.962295,-0.081967,-0.756557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.618033,-0.618852,-0.277869,-0.027049,-0.246721,4.340164,-0.281967,-0.037705,-0.081967,-0.756557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-1.381967,-0.618852,-0.277869,-0.027049,-0.246721,2.340164,-0.281967,-0.037705,-0.081967,-0.756557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-1.381967,-0.618852,-0.277869,-0.027049,-0.246721,4.340164,-0.281967,-0.037705,-0.081967,-0.756557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,-1.381967,-0.618852,-0.277869,-0.027049,-0.246721,-0.659836,-0.281967,-0.037705,-0.081967,-0.756557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,-1.381967,-0.618852,-0.277869,-0.027049,-0.246721,-0.659836,-0.281967,-0.037705,-0.081967,-0.756557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,-1.381967,-0.618852,-0.277869,-0.027049,-0.246721,-0.659836,-0.281967,-0.037705,-0.081967,-0.756557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,-1.381967,-0.618852,-0.277869,-0.027049,-0.246721,-0.659836,-0.281967,-0.037705,-0.081967,-0.756557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,-1.381967,-0.618852,-0.277869,-0.027049,-0.246721,-0.659836,-0.281967,-0.037705,-0.081967,-0.756557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
item_similarity = cosine_similarity(new)
item_similarity

array([[ 1.        ,  0.35334926,  0.24170331, ..., -0.11925366,
        -0.11925366, -0.11676906],
       [ 0.35334926,  1.        ,  0.23190319, ...,  0.01560452,
         0.01560452,  0.01528222],
       [ 0.24170331,  0.23190319,  1.        , ...,  0.12967056,
         0.12967056,  0.12697435],
       ...,
       [-0.11925366,  0.01560452,  0.12967056, ...,  1.        ,
         1.        ,  0.84177205],
       [-0.11925366,  0.01560452,  0.12967056, ...,  1.        ,
         1.        ,  0.84177205],
       [-0.11676906,  0.01528222,  0.12697435, ...,  0.84177205,
         0.84177205,  1.        ]])

In [9]:
item_similarity[np.isnan(item_similarity)] = 0
dd=pd.DataFrame(item_similarity)
dd.columns = rating_matrix.columns
dd.insert(0, 'movieId', dd.columns)
dd

movieId,movieId,1,2,3,4,5,6,7,8,9,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,1,1.000000,0.353349,0.241703,-0.109716,0.247283,0.337120,0.233089,0.008300,0.141242,...,-0.119254,-0.121518,-0.116790,-0.116790,-0.119254,-0.116790,-0.119254,-0.119254,-0.119254,-0.116769
1,2,0.353349,1.000000,0.231903,0.060885,0.261948,0.250034,0.183685,0.145316,0.035806,...,0.015605,0.015921,0.015262,0.015262,0.015605,0.015262,0.015605,0.015605,0.015605,0.015282
2,3,0.241703,0.231903,1.000000,0.173316,0.470362,0.246164,0.423017,0.327803,0.338285,...,0.129671,0.132172,0.126954,0.126954,0.129671,0.126954,0.129671,0.129671,0.129671,0.126974
3,4,-0.109716,0.060885,0.173316,1.000000,0.319023,-0.011095,0.320615,0.653855,0.427895,...,0.774481,0.789323,0.758350,0.758350,0.774481,0.758350,0.774481,0.774481,0.774481,0.758364
4,5,0.247283,0.261948,0.470362,0.319023,1.000000,0.261599,0.562415,0.406183,0.418025,...,0.261004,0.266014,0.255560,0.255560,0.261004,0.255560,0.261004,0.261004,0.261004,0.255574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,193581,-0.116790,0.015262,0.126954,0.758350,0.255560,-0.038217,0.214067,0.630101,0.467547,...,0.998818,0.995079,1.000000,1.000000,0.998818,1.000000,0.998818,0.998818,0.998818,0.824242
9720,193583,-0.119254,0.015605,0.129671,0.774481,0.261004,-0.039010,0.218630,0.643504,0.477495,...,1.000000,0.998719,0.998818,0.998818,1.000000,0.998818,1.000000,1.000000,1.000000,0.841772
9721,193585,-0.119254,0.015605,0.129671,0.774481,0.261004,-0.039010,0.218630,0.643504,0.477495,...,1.000000,0.998719,0.998818,0.998818,1.000000,0.998818,1.000000,1.000000,1.000000,0.841772
9722,193587,-0.119254,0.015605,0.129671,0.774481,0.261004,-0.039010,0.218630,0.643504,0.477495,...,1.000000,0.998719,0.998818,0.998818,1.000000,0.998818,1.000000,1.000000,1.000000,0.841772
9723,193609,-0.116769,0.015282,0.126974,0.758364,0.255574,-0.038195,0.214082,0.630112,0.467559,...,0.841772,0.857901,0.824242,0.824242,0.841772,0.824242,0.841772,0.841772,0.841772,1.000000

In [10]:
#crea lista di film visionati dall'utente
film_rating = []
for index, value in rating_matrix.iloc[user-1].items():
    film_rating.append((index,value))

In [11]:
film_non_visionati = list(filter(lambda item: item[1] == 0, film_rating))
film_rated = list(filter(lambda item: item[1] != 0, film_rating))

In [12]:
filmVistiEListaSimili=[]
for (film, rate) in film_rated:
    filmVistiEListaSimili.append((film, rate, dict(list(((dd[dd['movieId'] == film]).squeeze()).items()))))

In [13]:
#per ogni film non visionato dall'utente predici un rating sulla base dei rating dati
rating_stimato=[]
for film,_ in film_non_visionati:
    den=0
    num=0
    for (_film, rate, dictSimili) in filmVistiEListaSimili:
        if(film!=_film):
            sim = dictSimili[film]
            num=num+(rate*sim)
            den=den+sim
    if(den==0):
        rating_stimato.append((film,0))
    else:
        rating_stimato.append((film,num/den))

rating_stimato.sort(key = lambda x: x[1], reverse=True)
print(rating_stimato[0])

(2858, 4.848749266980347)

In [14]:
ll = []
for item in rating_stimato:
    rslt_df = df_film[df_film['movieId'] == (item[0])]
    title=rslt_df.iloc[0]['title']
    genere=rslt_df.iloc[0]['genres'].replace("|", ",")
    score = item[1]
    ll.append([title, score, genere])

suggestions = pd.DataFrame(ll, columns = ['TITOLO', 'RATING PREDETTO', 'GENERE'])

In [15]:
suggestions

,TITOLO,RATING PREDETTO,GENERE
0,American Beauty (1999),4.848749,"Drama,Romance"
1,Fight Club (1999),4.845323,"Action,Crime,Drama,Thriller"
2,"Matrix, The (1999)",4.843663,"Action,Sci-Fi,Thriller"
3,"Silence of the Lambs, The (1991)",4.801920,"Crime,Horror,Thriller"
4,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",4.798805,"Comedy,Romance"
...,...,...,...
9678,All Watched Over by Machines of Loving Grace (...,3.543373,Documentary
9679,King of Hearts (1966),3.542053,"Comedy,Drama,War"
9680,True Stories (1986),3.520020,"Comedy,Musical"
9681,The Red Turtle (2016),3.508640,Animation
9682,Lemonade (2016),3.508640,(no genres listed)