### LIBRERIE

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

### CARICO IL DATASET IN MEMORIA

In [2]:
user=276
df = pd.read_csv('C:\\Users\\cuomo\\Desktop\\tesina sistemi intelligenti per internet\\datasets\\ratings.csv')
df_film = pd.read_csv('C:\\Users\\cuomo\\Desktop\\tesina sistemi intelligenti per internet\\datasets\\movies.csv')

In [3]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
df.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [5]:
rating_matrix = df.pivot(index = 'userId', columns = 'movieId', values = 'rating').fillna(0)

In [6]:
rating_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### SOTTRAI LA MEDIA DELL'UTENTE A OGNI SUO RATE - ADJUSTED COSINE SIMILARITY

In [7]:
new = rating_matrix.sub(rating_matrix.mean(axis=1), axis=0)

In [8]:
item_similarity = cosine_similarity(new.transpose())
item_similarity

array([[ 1.        ,  0.37240182,  0.23944797, ..., -0.32029441,
        -0.32029441, -0.29398698],
       [ 0.37240182,  1.        ,  0.22477736, ..., -0.28059124,
        -0.28059124, -0.25773556],
       [ 0.23944797,  0.22477736,  1.        , ..., -0.14989248,
        -0.14989248, -0.13809041],
       ...,
       [-0.32029441, -0.28059124, -0.14989248, ...,  1.        ,
         1.        ,  0.32443914],
       [-0.32029441, -0.28059124, -0.14989248, ...,  1.        ,
         1.        ,  0.32443914],
       [-0.29398698, -0.25773556, -0.13809041, ...,  0.32443914,
         0.32443914,  1.        ]])

In [9]:
item_similarity[np.isnan(item_similarity)] = 0
dd=pd.DataFrame(item_similarity)
dd.columns = rating_matrix.columns
dd.insert(0, 'movieId', dd.columns)
dd

movieId,movieId,1,2,3,4,5,6,7,8,9,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,1,1.000000,0.372402,0.239448,-0.169952,0.248008,0.339290,0.219856,-0.037423,0.127169,...,-0.320294,-0.350984,-0.293216,-0.293216,-0.320294,-0.293216,-0.320294,-0.320294,-0.320294,-0.293987
1,2,0.372402,1.000000,0.224777,-0.076430,0.229663,0.249620,0.170375,0.021634,-0.052973,...,-0.280591,-0.307396,-0.256937,-0.256937,-0.280591,-0.256937,-0.280591,-0.280591,-0.280591,-0.257736
2,3,0.239448,0.224777,1.000000,-0.010217,0.382465,0.231223,0.367492,0.228901,0.254974,...,-0.149892,-0.164039,-0.137401,-0.137401,-0.149892,-0.137401,-0.149892,-0.149892,-0.149892,-0.138090
3,4,-0.169952,-0.076430,-0.010217,1.000000,0.117858,-0.080012,0.193285,0.166526,0.033591,...,0.190762,0.210033,0.173807,0.173807,0.190762,0.173807,0.190762,0.190762,0.190762,0.172753
4,5,0.248008,0.229663,0.382465,0.117858,1.000000,0.245745,0.446702,0.222190,0.301724,...,-0.092984,-0.101632,-0.085341,-0.085341,-0.092984,-0.085341,-0.092984,-0.092984,-0.092984,-0.085962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,193581,-0.293216,-0.256937,-0.137401,0.173807,-0.085341,-0.238092,-0.099174,0.044466,0.065114,...,0.997933,0.990024,1.000000,1.000000,0.997933,1.000000,0.997933,0.997933,0.997933,0.295792
9720,193583,-0.320294,-0.280591,-0.149892,0.190762,-0.092984,-0.260014,-0.108122,0.049278,0.071596,...,1.000000,0.997033,0.997933,0.997933,1.000000,0.997933,1.000000,1.000000,1.000000,0.324439
9721,193585,-0.320294,-0.280591,-0.149892,0.190762,-0.092984,-0.260014,-0.108122,0.049278,0.071596,...,1.000000,0.997033,0.997933,0.997933,1.000000,0.997933,1.000000,1.000000,1.000000,0.324439
9722,193587,-0.320294,-0.280591,-0.149892,0.190762,-0.092984,-0.260014,-0.108122,0.049278,0.071596,...,1.000000,0.997033,0.997933,0.997933,1.000000,0.997933,1.000000,1.000000,1.000000,0.324439
9723,193609,-0.293987,-0.257736,-0.138090,0.172753,-0.085962,-0.238827,-0.099786,0.043406,0.064503,...,0.324439,0.356985,0.295792,0.295792,0.324439,0.295792,0.324439,0.324439,0.324439,1.000000

In [10]:
dd

movieId,movieId,1,2,3,4,5,6,7,8,9,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,1,1.000000,0.372402,0.239448,-0.169952,0.248008,0.339290,0.219856,-0.037423,0.127169,...,-0.320294,-0.350984,-0.293216,-0.293216,-0.320294,-0.293216,-0.320294,-0.320294,-0.320294,-0.293987
1,2,0.372402,1.000000,0.224777,-0.076430,0.229663,0.249620,0.170375,0.021634,-0.052973,...,-0.280591,-0.307396,-0.256937,-0.256937,-0.280591,-0.256937,-0.280591,-0.280591,-0.280591,-0.257736
2,3,0.239448,0.224777,1.000000,-0.010217,0.382465,0.231223,0.367492,0.228901,0.254974,...,-0.149892,-0.164039,-0.137401,-0.137401,-0.149892,-0.137401,-0.149892,-0.149892,-0.149892,-0.138090
3,4,-0.169952,-0.076430,-0.010217,1.000000,0.117858,-0.080012,0.193285,0.166526,0.033591,...,0.190762,0.210033,0.173807,0.173807,0.190762,0.173807,0.190762,0.190762,0.190762,0.172753
4,5,0.248008,0.229663,0.382465,0.117858,1.000000,0.245745,0.446702,0.222190,0.301724,...,-0.092984,-0.101632,-0.085341,-0.085341,-0.092984,-0.085341,-0.092984,-0.092984,-0.092984,-0.085962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,193581,-0.293216,-0.256937,-0.137401,0.173807,-0.085341,-0.238092,-0.099174,0.044466,0.065114,...,0.997933,0.990024,1.000000,1.000000,0.997933,1.000000,0.997933,0.997933,0.997933,0.295792
9720,193583,-0.320294,-0.280591,-0.149892,0.190762,-0.092984,-0.260014,-0.108122,0.049278,0.071596,...,1.000000,0.997033,0.997933,0.997933,1.000000,0.997933,1.000000,1.000000,1.000000,0.324439
9721,193585,-0.320294,-0.280591,-0.149892,0.190762,-0.092984,-0.260014,-0.108122,0.049278,0.071596,...,1.000000,0.997033,0.997933,0.997933,1.000000,0.997933,1.000000,1.000000,1.000000,0.324439
9722,193587,-0.320294,-0.280591,-0.149892,0.190762,-0.092984,-0.260014,-0.108122,0.049278,0.071596,...,1.000000,0.997033,0.997933,0.997933,1.000000,0.997933,1.000000,1.000000,1.000000,0.324439
9723,193609,-0.293987,-0.257736,-0.138090,0.172753,-0.085962,-0.238827,-0.099786,0.043406,0.064503,...,0.324439,0.356985,0.295792,0.295792,0.324439,0.295792,0.324439,0.324439,0.324439,1.000000

In [19]:
#crea lista di film visionati dall'utente
film_rating = []
for index, value in rating_matrix.iloc[user-1].items():
    film_rating.append((index,value))
film_rating[0:10]

[(1, 4.0),
 (2, 4.0),
 (3, 0.0),
 (4, 0.0),
 (5, 3.0),
 (6, 0.0),
 (7, 4.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0)]

In [20]:
film_rated = list(filter(lambda item: item[1] != 0, film_rating))
film_rated[0:10]

[(1, 4.0),
 (2, 4.0),
 (5, 3.0),
 (7, 4.0),
 (12, 4.0),
 (19, 4.0),
 (62, 5.0),
 (88, 5.0),
 (104, 5.0),
 (135, 4.0)]

In [21]:
filmVistiEListaSimili=[]
for (film, rate) in film_rated:
    filmVistiEListaSimili.append((film, rate, dict(list(((dd[dd['movieId'] == film]).squeeze()).items()))))

In [15]:
#per ogni film non visionato dall'utente predici un rating sulla base dei rating dati
rating_stimato=[]
for film,_ in film_rated:
    den=0
    num=0
    for (_film, rate, dictSimili) in filmVistiEListaSimili:
        if(film!=_film):
            sim = dictSimili[film]
            num=num+(rate*sim)
            den=den+sim
    if(den==0):
        rating_stimato.append((film,0))
    else:
        rating_stimato.append((film,num/den))

In [16]:
ll = []
for item in rating_stimato:
    rslt_df = df_film[df_film['movieId'] == (item[0])]
    title=rslt_df.iloc[0]['title']
    genere=rslt_df.iloc[0]['genres'].replace("|", ",")
    score = item[1]
    ll.append([title, score, genere])

suggestions = pd.DataFrame(ll, columns = ['TITOLO', 'RATING PREDETTO', 'GENERE'])

In [17]:
suggestions

,TITOLO,RATING PREDETTO,GENERE
0,Toy Story (1995),4.601311,"Adventure,Animation,Children,Comedy,Fantasy"
1,Jumanji (1995),4.565126,"Adventure,Children,Fantasy"
2,Father of the Bride Part II (1995),4.376710,Comedy
3,Sabrina (1995),4.362807,"Comedy,Romance"
4,Dracula: Dead and Loving It (1995),4.086122,"Comedy,Horror"
5,Ace Ventura: When Nature Calls (1995),4.562355,Comedy
6,Mr. Holland's Opus (1995),4.409454,Drama
7,Black Sheep (1996),4.318320,Comedy
8,Happy Gilmore (1996),4.469202,Comedy
9,Down Periscope (1996),4.247978,Comedy
10,Apollo 13 (1995),4.601790,"Adventure,Drama,IMAX"
11,Dumb & Dumber (Dumb and Dumber) (1994),4.624949,"Adventure,Comedy"
12,Star Wars: Episode IV - A New Hope (1977),4.653577,"Action,Adventure,Sci-Fi"
13,Tommy Boy (1995),4.479852,Comedy
14,Ace Ventura: Pet Detective (1994),4.529772,Comedy
15,Forrest Gump (1994),4.645883,"Comedy,Drama,Romance,War"
16,"Lion King, The (1994)",4.544321,"Adventure,Animation,Children,Drama,Musical,IMAX"
17,Naked Gun 33 1/3: The Final Insult (1994),4.497730,"Action,Comedy"
18,Hot Shots! Part Deux (1993),4.536254,"Action,Comedy,War"
19,Jurassic Park (1993),4.622123,"Action,Adventure,Sci-Fi,Thriller"
20,Homeward Bound II: Lost in San Francisco (1996),4.084692,"Adventure,Children"
21,All Dogs Go to Heaven 2 (1996),4.000051,"Adventure,Animation,Children,Fantasy,Musical,R..."
22,Sgt. Bilko (1996),4.275181,Comedy
23,Mission: Impossible (1996),4.531574,"Action,Adventure,Mystery,Thriller"
24,Dragonheart (1996),4.500860,"Action,Adventure,Fantasy"
25,Space Jam (1996),4.416703,"Adventure,Animation,Children,Comedy,Fantasy,Sc..."
26,Cold Comfort Farm (1995),4.308338,Comedy
27,Twister (1996),4.485436,"Action,Adventure,Romance,Thriller"
28,Wallace & Gromit: A Close Shave (1995),4.628859,"Animation,Children,Comedy"
29,Jack (1996),4.234425,"Comedy,Drama"
30,Independence Day (a.k.a. ID4) (1996),4.543202,"Action,Adventure,Sci-Fi,Thriller"
31,"Hunchback of Notre Dame, The (1996)",4.265376,"Animation,Children,Drama,Musical,Romance"
32,"Cable Guy, The (1996)",4.495302,"Comedy,Thriller"
33,Kazaam (1996),3.886436,"Children,Comedy,Fantasy"
34,Matilda (1996),4.288563,"Children,Comedy,Fantasy"
35,That Thing You Do! (1996),4.475456,"Comedy,Drama"
36,Star Wars: Episode V - The Empire Strikes Back...,4.719367,"Action,Adventure,Sci-Fi"
37,Star Wars: Episode VI - Return of the Jedi (1983),4.668261,"Action,Adventure,Sci-Fi"
38,Back to the Future (1985),4.678349,"Adventure,Comedy,Sci-Fi"
39,101 Dalmatians (1996),4.357655,"Adventure,Children,Comedy"
40,Mars Attacks! (1996),4.592403,"Action,Comedy,Sci-Fi"