### LIBRERIE

In [1]:
import pandas as pd
import numpy as np

### CARICO IL DATASET IN MEMORIA

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/mariocuomo/progettoSII/main/ratings.csv')
df_film = pd.read_csv('https://raw.githubusercontent.com/mariocuomo/progettoSII/main/movies.csv')

In [3]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
df.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [5]:
df_film.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
df_film.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

### CREO LA RATING MATRIX

In [7]:
rating_matrix = df.pivot(index = 'userId', columns = 'movieId', values = 'rating')

In [8]:
rating_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### UTILIZZO LA RATING MATRIX PER CALCOLARE LA MEDIA DI OGNI UTENTE

In [9]:
rating_matrix['average'] = rating_matrix.mean(axis=1)

In [10]:
rating_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193567,193571,193573,193579,193581,193583,193585,193587,193609,average
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.366379
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.948276
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.435897
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.555556
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.636364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.657399
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.786096
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.134176
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.270270
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.688556

In [11]:
media_utenti = dict()

for index, row in rating_matrix.iterrows():
    media_utenti[index] = row['average']
media_utenti

{1: 4.366379310344827,
 2: 3.9482758620689653,
 3: 2.4358974358974357,
 4: 3.5555555555555554,
 5: 3.6363636363636362,
 6: 3.4936305732484074,
 7: 3.2302631578947367,
 8: 3.574468085106383,
 9: 3.260869565217391,
 10: 3.2785714285714285,
 11: 3.78125,
 12: 4.390625,
 13: 3.6451612903225805,
 14: 3.3958333333333335,
 15: 3.448148148148148,
 16: 3.7244897959183674,
 17: 4.20952380952381,
 18: 3.7320717131474104,
 19: 2.607396870554765,
 20: 3.590909090909091,
 21: 3.260722347629797,
 22: 2.5714285714285716,
 23: 3.6487603305785123,
 24: 3.65,
 25: 4.8076923076923075,
 26: 3.238095238095238,
 27: 3.5481481481481483,
 28: 3.020175438596491,
 29: 4.1419753086419755,
 30: 4.735294117647059,
 31: 3.92,
 32: 3.7549019607843137,
 33: 3.7884615384615383,
 34: 3.4186046511627906,
 35: 4.086956521739131,
 36: 2.6333333333333333,
 37: 4.142857142857143,
 38: 3.217948717948718,
 39: 4.0,
 40: 3.766990291262136,
 41: 3.2534562211981566,
 42: 3.565909090909091,
 43: 4.552631578947368,
 44: 3.3541666666666665,
 45: 3.8759398496240602,
 46: 4.0,
 47: 3.0535714285714284,
 48: 4.03030303030303,
 49: 4.261904761904762,
 50: 2.7806451612903227,
 51: 3.7757660167130918,
 52: 4.476923076923077,
 53: 5.0,
 54: 3.0303030303030303,
 55: 2.84,
 56: 3.8043478260869565,
 57: 3.392857142857143,
 58: 3.9017857142857144,
 59: 4.355140186915888,
 60: 3.727272727272727,
 61: 4.051282051282051,
 62: 4.081967213114754,
 63: 3.6309963099630997,
 64: 3.7688588007736943,
 65: 4.029411764705882,
 66: 4.0202898550724635,
 67: 3.9722222222222223,
 68: 3.233730158730159,
 69: 4.369565217391305,
 70: 4.32258064516129,
 71: 3.6,
 72: 4.155555555555556,
 73: 3.711904761904762,
 74: 4.271186440677966,
 75: 3.2318840579710146,
 76: 3.0840336134453783,
 77: 4.0,
 78: 3.1639344262295084,
 79: 4.203125,
 80: 4.2604790419161676,
 81: 2.769230769230769,
 82: 3.381057268722467,
 83: 3.309322033898305,
 84: 3.689419795221843,
 85: 3.7058823529411766,
 86: 3.9285714285714284,
 87: 3.9523809523809526,
 88: 4.035714285714286,
 89: 3.472972972972973,
 90: 4.074074074074074,
 91: 3.3956521739130436,
 92: 3.9375,
 93: 4.288659793814433,
 94: 3.0357142857142856,
 95: 4.0625,
 96: 3.8846153846153846,
 97: 4.194444444444445,
 98: 3.9130434782608696,
 99: 3.8679245283018866,
 100: 3.945945945945946,
 101: 3.557377049180328,
 102: 3.357142857142857,
 103: 3.907161803713528,
 104: 3.5073260073260073,
 105: 4.116343490304709,
 106: 4.4393939393939394,
 107: 3.911764705882353,
 108: 3.986842105263158,
 109: 3.220472440944882,
 110: 3.7254901960784315,
 111: 3.3397832817337463,
 112: 3.5923076923076924,
 113: 3.6466666666666665,
 114: 3.435483870967742,
 115: 3.767857142857143,
 116: 3.4367816091954024,
 117: 3.3393939393939394,
 118: 3.8181818181818183,
 119: 4.176744186046512,
 120: 3.409090909090909,
 121: 3.293103448275862,
 122: 4.546232876712328,
 123: 4.035714285714286,
 124: 3.99,
 125: 3.859722222222222,
 126: 3.289473684210526,
 127: 3.1136363636363638,
 128: 4.363636363636363,
 129: 3.9214285714285713,
 130: 3.5357142857142856,
 131: 3.4420289855072466,
 132: 3.0389048991354466,
 133: 3.0,
 134: 3.5714285714285716,
 135: 3.630824372759857,
 136: 3.315315315315315,
 137: 3.978723404255319,
 138: 3.522727272727273,
 139: 2.1443298969072164,
 140: 3.4991776315789473,
 141: 3.5386904761904763,
 142: 3.8157894736842106,
 143: 3.323943661971831,
 144: 3.62890625,
 145: 3.347826086956522,
 146: 3.140625,
 147: 3.375,
 148: 3.7395833333333335,
 149: 2.7241379310344827,
 150: 3.576923076923077,
 151: 3.542372881355932,
 152: 4.023809523809524,
 153: 2.217877094972067,
 154: 4.382352941176471,
 155: 3.608695652173913,
 156: 3.692211055276382,
 157: 3.4761904761904763,
 158: 3.423076923076923,
 159: 3.2731958762886597,
 160: 2.708237986270023,
 161: 3.8333333333333335,
 162: 4.2368421052631575,
 163: 3.0,
 164: 4.25,
 165: 3.5384615384615383,
 166: 4.073684210526316,
 167: 3.439306358381503,
 168: 4.462765957446808,
 169: 4.24907063197026,
 170: 3.34,
 171: 4.634146341463414,
 172: 3.826923076923077,
 173: 3.48,
 174: 3.656716417910448,
 175: 3.5416666666666665,
 176: 4.055555555555555,
 177: 3.375553097345133,
 178: 4.090909090909091,
 179: 3.782608695652174,
 180: 3.5625,
 181: 2.940677966101695,
 182: 3.5112589559877176,
 183: 3.824561403508772,
 184: 3.705223880597015,
 185: 3.5319148936170213,
 186: 4.079646017699115,
 187: 3.7751937984496124,
 188: 4.395833333333333,
 189: 4.1,
 190: 3.909090909090909,
 191: 3.7411764705882353,
 192: 4.045454545454546,
 193: 3.8,
 194: 3.475,
 195: 3.5294117647058822,
 196: 3.9375,
 197: 3.857142857142857,
 198: 3.491304347826087,
 199: 3.3953168044077136,
 200: 3.809880239520958,
 201: 4.1,
 202: 3.8188585607940446,
 203: 3.8444444444444446,
 204: 3.9578313253012047,
 205: 3.8703703703703702,
 206: 4.04,
 207: 2.875,
 208: 3.3076923076923075,
 209: 4.242857142857143,
 210: 4.079710144927536,
 211: 3.904494382022472,
 212: 3.590725806451613,
 213: 3.8273809523809526,
 214: 2.8636363636363638,
 215: 3.9081632653061225,
 216: 3.6646341463414633,
 217: 2.761827079934747,
 218: 3.3653846153846154,
 219: 3.165719696969697,
 220: 3.963768115942029,
 221: 4.126888217522659,
 222: 3.166,
 223: 3.2733333333333334,
 224: 4.2592592592592595,
 225: 3.6533333333333333,
 226: 3.4763313609467454,
 227: 4.202127659574468,
 228: 3.74,
 229: 3.7384615384615385,
 230: 2.8597122302158273,
 231: 3.8541666666666665,
 232: 3.2505800464037122,
 233: 3.3,
 234: 3.504950495049505,
 235: 3.646153846153846,
 236: 3.966666666666667,
 237: 3.36,
 238: 3.6818181818181817,
 239: 4.026881720430108,
 240: 3.9140625,
 241: 3.9802631578947367,
 242: 3.6,
 243: 4.138888888888889,
 244: 3.774193548387097,
 245: 2.7142857142857144,
 246: 4.252450980392157,
 247: 3.7466666666666666,
 248: 3.7450980392156863,
 249: 3.6964627151051626,
 250: 4.222222222222222,
 251: 4.869565217391305,
 252: 4.197368421052632,
 253: 4.351063829787234,
 254: 3.9803149606299213,
 255: 2.5681818181818183,
 256: 3.9454022988505746,
 257: 3.2,
 258: 4.2,
 259: 3.1206896551724137,
 260: 3.7598684210526314,
 261: 3.858490566037736,
 262: 3.1052631578947367,
 263: 3.716666666666667,
 264: 3.5625,
 265: 3.3496932515337425,
 266: 3.5,
 267: 4.175438596491228,
 268: 3.2713178294573644,
 269: 3.6206896551724137,
 270: 3.2,
 271: 3.186046511627907,
 272: 3.629032258064516,
 273: 4.0,
 274: 3.235884101040119,
 275: 4.086848635235732,
 276: 4.390243902439025,
 277: 3.5714285714285716,
 278: 3.875,
 279: 3.647727272727273,
 280: 3.9005102040816326,
 281: 3.2142857142857144,
 282: 4.033755274261603,
 283: 3.3142857142857145,
 284: 3.715909090909091,
 285: 3.9583333333333335,
 286: 3.7877358490566038,
 287: 2.6217105263157894,
 288: 3.1459715639810426,
 289: 3.625,
 290: 4.142322097378277,
 291: 4.258064516129032,
 292: 3.3015695067264574,
 293: 2.619047619047619,
 294: 2.610983981693364,
 295: 3.7439024390243905,
 296: 4.166666666666667,
 297: 2.5972222222222223,
 298: 2.363684771033014,
 299: 3.652173913043478,
 300: 4.296875,
 301: 3.3201754385964914,
 302: 4.0,
 303: 3.9056603773584904,
 304: 3.8703703703703702,
 305: 3.9246676514032495,
 306: 3.3169642857142856,
 307: 2.6656410256410257,
 308: 2.4260869565217393,
 309: 3.8398058252427183,
 310: 3.53125,
 311: 2.3392857142857144,
 312: 3.708520179372197,
 313: 3.4323529411764704,
 314: 3.046875,
 315: 3.3636363636363638,
 316: 3.0,
 317: 3.7301587301587302,
 318: 3.755972696245734,
 319: 4.428571428571429,
 320: 3.525,
 321: 3.5714285714285716,
 322: 3.411214953271028,
 323: 3.173469387755102,
 324: 3.142857142857143,
 325: 3.5444444444444443,
 326: 4.016447368421052,
 327: 4.104166666666667,
 328: 3.2254901960784315,
 329: 2.869565217391304,
 330: 3.6902834008097165,
 331: 3.6279761904761907,
 332: 3.599250936329588,
 333: 2.64,
 334: 3.418831168831169,
 335: 3.6785714285714284,
 336: 4.321428571428571,
 337: 4.207792207792208,
 338: 2.9358974358974357,
 339: 4.070080862533692,
 340: 4.214285714285714,
 341: 3.798076923076923,
 342: 2.9393939393939394,
 343: 4.059322033898305,
 344: 3.7681159420289854,
 345: 3.903225806451613,
 346: 3.682926829268293,
 347: 3.5555555555555554,
 348: 4.672727272727273,
 349: 3.72972972972973,
 350: 3.25,
 351: 3.6666666666666665,
 352: 3.7806122448979593,
 353: 3.488888888888889,
 354: 3.734513274336283,
 355: 3.8846153846153846,
 356: 4.02076124567474,
 357: 3.9569190600522193,
 358: 3.2560975609756095,
 359: 3.418918918918919,
 360: 3.36,
 361: 3.1804123711340204,
 362: 4.243119266055046,
 363: 3.3,
 364: 4.190476190476191,
 365: 2.7509025270758123,
 366: 3.9516129032258065,
 367: 3.8594594594594596,
 368: 2.8422174840085286,
 369: 3.391472868217054,
 370: 3.5483870967741935,
 371: 4.548780487804878,
 372: 3.3559322033898304,
 373: 3.19,
 374: 3.6363636363636362,
 375: 3.909090909090909,
 376: 4.06390977443609,
 377: 3.9122137404580153,
 378: 4.0,
 379: 3.388888888888889,
 380: 3.6732348111658455,
 381: 3.542194092827004,
 382: 3.508591065292096,
 383: 3.7941176470588234,
 384: 3.085714285714286,
 385: 3.4029850746268657,
 386: 2.75,
 387: 3.2585199610516065,
 388: 3.6206896551724137,
 389: 4.117647058823529,
 390: 3.8395061728395063,
 391: 3.715025906735751,
 392: 3.2,
 393: 3.841463414634146,
 394: 2.9565217391304346,
 395: 3.0491803278688523,
 396: 3.142857142857143,
 397: 3.9565217391304346,
 398: 4.25,
 399: 3.9444444444444446,
 400: 4.511627906976744,
 401: 3.5277777777777777,
 402: 3.8541666666666665,
 403: 3.764705882352941,
 404: 3.4,
 405: 4.008333333333334,
 406: 3.25,
 407: 4.113636363636363,
 408: 4.092198581560283,
 409: 3.8412698412698414,
 410: 4.059880239520958,
 411: 3.2598425196850394,
 412: 3.892156862745098,
 413: 4.410714285714286,
 414: 3.391957005189029,
 415: 4.085106382978723,
 416: 3.0686274509803924,
 417: 4.462686567164179,
 418: 3.639784946236559,
 419: 3.803225806451613,
 420: 3.8226950354609928,
 421: 4.108108108108108,
 422: 3.3225806451612905,
 423: 3.717391304347826,
 424: 3.6739130434782608,
 425: 3.5326797385620914,
 426: 3.6818181818181817,
 427: 3.1011904761904763,
 428: 2.64,
 429: 3.9827586206896552,
 430: 3.7413793103448274,
 431: 2.725,
 432: 3.646153846153846,
 433: 3.772727272727273,
 434: 3.781115879828326,
 435: 4.321428571428571,
 436: 3.1792452830188678,
 437: 3.80327868852459,
 438: 3.3551181102362206,
 439: 4.119047619047619,
 440: 3.893939393939394,
 441: 4.522222222222222,
 442: 1.275,
 443: 4.121621621621622,
 444: 3.8095238095238093,
 445: 3.857142857142857,
 446: 3.2142857142857144,
 447: 3.871794871794872,
 448: 2.8473712446351933,
 449: 3.289473684210526,
 450: 4.0,
 451: 3.7941176470588234,
 452: 4.556930693069307,
 453: 3.942122186495177,
 454: 3.7666666666666666,
 455: 3.456140350877193,
 456: 3.813953488372093,
 457: 3.46,
 458: 4.1525423728813555,
 459: 4.346153846153846,
 460: 4.201219512195122,
 461: 2.9444444444444446,
 462: 3.4065934065934065,
 463: 3.787878787878788,
 464: 3.753623188405797,
 465: 4.156521739130435,
 466: 3.9292035398230087,
 467: 3.409090909090909,
 468: 3.393939393939394,
 469: 3.6731182795698927,
 470: 3.5125,
 471: 3.875,
 472: 4.120689655172414,
 473: 3.418918918918919,
 474: 3.398956356736243,
 475: 4.409677419354839,
 476: 3.681159420289855,
 477: 3.736666666666667,
 478: 2.8181818181818183,
 479: 3.320441988950276,
 480: 3.27511961722488,
 481: 2.806451612903226,
 482: 3.40625,
 483: 3.618818681318681,
 484: 3.8145454545454545,
 485: 3.869565217391304,
 486: 4.017857142857143,
 487: 3.142857142857143,
 488: 3.8828828828828827,
 489: 3.017746913580247,
 490: 3.15929203539823,
 491: 4.15625,
 492: 3.8677685950413223,
 493: 3.6885245901639343,
 494: 4.2272727272727275,
 495: 4.009433962264151,
 496: 3.413793103448276,
 497: 3.5686274509803924,
 498: 4.057142857142857,
 499: 3.8333333333333335,
 500: 3.244186046511628,
 501: 3.2,
 502: 3.4285714285714284,
 503: 3.3421052631578947,
 504: 3.82183908045977,
 505: 4.17741935483871,
 506: 3.261904761904762,
 507: 3.380952380952381,
 508: 2.1458333333333335,
 509: 3.21627408993576,
 510: 2.9027777777777777,
 511: 4.125,
 512: 3.78,
 513: 3.890625,
 514: 3.3110831234256928,
 515: 4.846153846153846,
 516: 3.6923076923076925,
 517: 2.38625,
 518: 3.5416666666666665,
 519: 4.326923076923077,
 520: 3.881720430107527,
 521: 3.6,
 522: 3.83,
 523: 4.693333333333333,
 524: 3.4580152671755724,
 525: 3.542,
 526: 4.189655172413793,
 527: 4.119760479041916,
 528: 3.4726027397260273,
 529: 3.2,
 530: 3.7777777777777777,
 531: 3.772727272727273,
 532: 4.28,
 533: 4.381578947368421,
 534: 3.8048076923076923,
 535: 2.6666666666666665,
 536: 3.4,
 537: 4.0638297872340425,
 538: 4.472972972972973,
 539: 3.8026315789473686,
 540: 4.0,
 541: 3.3908045977011496,
 542: 3.5088495575221237,
 543: 4.453947368421052,
 544: 4.363636363636363,
 545: 3.369565217391304,
 546: 3.4375,
 547: 4.142857142857143,
 548: 4.096153846153846,
 549: 3.6666666666666665,
 550: 4.107142857142857,
 551: 3.7154471544715446,
 552: 3.11968085106383,
 553: 4.337349397590361,
 554: 4.0,
 555: 3.4550173010380623,
 556: 4.078125,
 557: 3.8518518518518516,
 558: 3.9285714285714284,
 559: 3.2857142857142856,
 560: 3.567685589519651,
 561: 3.372277227722772,
 562: 4.093073593073593,
 563: 3.300469483568075,
 564: 3.5796178343949046,
 565: 3.6551724137931036,
 566: 3.5405405405405403,
 567: 2.2454545454545456,
 568: 4.130434782608695,
 569: 4.0,
 570: 3.4162303664921465,
 571: 2.5714285714285716,
 572: 4.122580645161291,
 573: 4.212374581939799,
 574: 3.9565217391304346,
 575: 3.1666666666666665,
 576: 3.1,
 577: 3.5652173913043477,
 578: 3.962962962962963,
 579: 3.9726027397260273,
 580: 3.529816513761468,
 581: 4.375,
 582: 4.026785714285714,
 583: 3.294642857142857,
 584: 4.108433734939759,
 585: 4.336065573770492,
 586: 4.365384615384615,
 587: 3.9757575757575756,
 588: 3.25,
 589: 4.025,
 590: 3.355769230769231,
 591: 3.2777777777777777,
 592: 3.5851063829787235,
 593: 3.266990291262136,
 594: 3.9245689655172415,
 595: 4.2,
 596: 3.495133819951338,
 597: 3.9774266365688487,
 598: 3.8095238095238093,
 599: 2.6420500403551253,
 600: 2.991480996068152,
 601: 4.425742574257426,
 602: 3.3925925925925924,
 603: 3.5079533404029695,
 604: 3.48,
 605: 3.2104072398190047,
 606: 3.6573991031390136,
 607: 3.786096256684492,
 608: 3.1341756919374246,
 609: 3.27027027027027,
 610: 3.6885560675883258}

In [12]:
del rating_matrix['average']
rating_matrix=rating_matrix.fillna(0)
rating_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### CALCOLO IL COEFFICIENTE DI CORRELAZIONE DI PEARSON, MATRICE USER_SIMILRITY

In [13]:
rating_matrix_trasposta = df.pivot(index = 'movieId', columns = 'userId', values = 'rating').fillna(0)

In [14]:
rating_matrix_trasposta

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
user_similarity = rating_matrix_trasposta.corr(method='pearson').fillna(0)

In [16]:
user_similarity=pd.DataFrame(user_similarity)

In [17]:
user_similarity

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.019400,0.053056,0.176920,0.120866,0.104418,0.143793,0.128547,0.055268,-0.000298,...,0.066256,0.149942,0.186978,0.056530,0.134412,0.121981,0.254200,0.262241,0.085434,0.098719
2,0.019400,1.000000,-0.002594,-0.003804,0.013183,0.016257,0.021567,0.023750,-0.003448,0.061880,...,0.198549,0.010888,-0.004030,-0.005345,-0.007919,0.011299,0.005813,0.032730,0.024373,0.089329
3,0.053056,-0.002594,1.000000,-0.004556,0.001887,-0.004577,-0.005634,0.001703,-0.003111,-0.005501,...,0.000150,-0.000585,0.011211,-0.004822,0.003678,-0.003246,0.012885,0.008096,-0.002963,0.015962
4,0.176920,-0.003804,-0.004556,1.000000,0.121018,0.065719,0.100602,0.054235,0.002417,0.015615,...,0.072848,0.114287,0.281866,0.039699,0.065493,0.164831,0.115118,0.116861,0.023930,0.062523
5,0.120866,0.013183,0.001887,0.121018,1.000000,0.294138,0.101725,0.426576,-0.004185,0.023471,...,0.061912,0.414931,0.095394,0.254117,0.141077,0.090158,0.145764,0.122607,0.258289,0.040372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.121981,0.011299,-0.003246,0.164831,0.090158,0.047506,0.172499,0.081913,0.057989,0.054877,...,0.153892,0.084208,0.224637,0.035251,0.106752,1.000000,0.115999,0.188354,0.052385,0.093851
607,0.254200,0.005813,0.012885,0.115118,0.145764,0.142169,0.173293,0.178133,0.003257,-0.004809,...,0.080034,0.187588,0.173025,0.126267,0.101138,0.115999,1.000000,0.258245,0.142533,0.098518
608,0.262241,0.032730,0.008096,0.116861,0.122607,0.137954,0.305439,0.175912,0.086229,0.048373,...,0.136316,0.174069,0.164479,0.133734,0.144896,0.188354,0.258245,1.000000,0.109563,0.248944
609,0.085434,0.024373,-0.002963,0.023930,0.258289,0.207124,0.084494,0.421627,-0.003937,0.014983,...,0.029664,0.331053,0.046000,0.232115,0.089810,0.052385,0.142533,0.109563,1.000000,0.033713
610,0.098719,0.089329,0.015962,0.062523,0.040372,-0.010400,0.163775,0.058168,0.055265,0.087036,...,0.200487,0.050806,0.064594,0.018502,0.072727,0.093851,0.098518,0.248944,0.033713,1.000000

In [18]:
user_similarity.insert(0, 'userId', user_similarity.columns)

In [19]:
user_similarity

userId,userId,1,2,3,4,5,6,7,8,9,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1,1.000000,0.019400,0.053056,0.176920,0.120866,0.104418,0.143793,0.128547,0.055268,...,0.066256,0.149942,0.186978,0.056530,0.134412,0.121981,0.254200,0.262241,0.085434,0.098719
2,2,0.019400,1.000000,-0.002594,-0.003804,0.013183,0.016257,0.021567,0.023750,-0.003448,...,0.198549,0.010888,-0.004030,-0.005345,-0.007919,0.011299,0.005813,0.032730,0.024373,0.089329
3,3,0.053056,-0.002594,1.000000,-0.004556,0.001887,-0.004577,-0.005634,0.001703,-0.003111,...,0.000150,-0.000585,0.011211,-0.004822,0.003678,-0.003246,0.012885,0.008096,-0.002963,0.015962
4,4,0.176920,-0.003804,-0.004556,1.000000,0.121018,0.065719,0.100602,0.054235,0.002417,...,0.072848,0.114287,0.281866,0.039699,0.065493,0.164831,0.115118,0.116861,0.023930,0.062523
5,5,0.120866,0.013183,0.001887,0.121018,1.000000,0.294138,0.101725,0.426576,-0.004185,...,0.061912,0.414931,0.095394,0.254117,0.141077,0.090158,0.145764,0.122607,0.258289,0.040372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,606,0.121981,0.011299,-0.003246,0.164831,0.090158,0.047506,0.172499,0.081913,0.057989,...,0.153892,0.084208,0.224637,0.035251,0.106752,1.000000,0.115999,0.188354,0.052385,0.093851
607,607,0.254200,0.005813,0.012885,0.115118,0.145764,0.142169,0.173293,0.178133,0.003257,...,0.080034,0.187588,0.173025,0.126267,0.101138,0.115999,1.000000,0.258245,0.142533,0.098518
608,608,0.262241,0.032730,0.008096,0.116861,0.122607,0.137954,0.305439,0.175912,0.086229,...,0.136316,0.174069,0.164479,0.133734,0.144896,0.188354,0.258245,1.000000,0.109563,0.248944
609,609,0.085434,0.024373,-0.002963,0.023930,0.258289,0.207124,0.084494,0.421627,-0.003937,...,0.029664,0.331053,0.046000,0.232115,0.089810,0.052385,0.142533,0.109563,1.000000,0.033713
610,610,0.098719,0.089329,0.015962,0.062523,0.040372,-0.010400,0.163775,0.058168,0.055265,...,0.200487,0.050806,0.064594,0.018502,0.072727,0.093851,0.098518,0.248944,0.033713,1.000000

### EFFETTUO LA PREVISIONE PER L'UTENTE CON ID 1

In [20]:
rslt_df = user_similarity[user_similarity['userId'] == 1]

In [21]:
rslt_df

userId,userId,1,2,3,4,5,6,7,8,9,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1,1.0,0.0194,0.053056,0.17692,0.120866,0.104418,0.143793,0.128547,0.055268,...,0.066256,0.149942,0.186978,0.05653,0.134412,0.121981,0.2542,0.262241,0.085434,0.098719

In [22]:
#seleziona i top k
lst_similarita=[]
for index, value in (rslt_df.iloc[0]).items():
    if index != 'userId':
        lst_similarita.append((index,value,rating_matrix.iloc[index-1]))
lst_similarita.sort(key = lambda x: x[1], reverse=True)

top_k=lst_similarita[1:10]

In [23]:
top_k

[(266,
  0.3449833462539847,
  movieId
  1         2.0
  2         0.0
  3         0.0
  4         0.0
  5         0.0
           ...
  193581    0.0
  193583    0.0
  193585    0.0
  193587    0.0
  193609    0.0
  Name: 266, Length: 9724, dtype: float64),
 (313,
  0.33387548288121716,
  movieId
  1         0.0
  2         0.0
  3         0.0
  4         0.0
  5         0.0
           ...
  193581    0.0
  193583    0.0
  193585    0.0
  193587    0.0
  193609    0.0
  Name: 313, Length: 9724, dtype: float64),
 (368,
  0.3240414067555898,
  movieId
  1         0.0
  2         0.0
  3         3.0
  4         0.0
  5         0.0
           ...
  193581    0.0
  193583    0.0
  193585    0.0
  193587    0.0
  193609    0.0
  Name: 368, Length: 9724, dtype: float64),
 (57,
  0.3239475333693398,
  movieId
  1         5.0
  2         0.0
  3         0.0
  4         0.0
  5         0.0
           ...
  193581    0.0
  193583    0.0
  193585    0.0
  193587    0.0
  193609    0.0
  Name: 57, Length: 9724, dtype: float64),
 (39,
  0.32012040837106076,
  movieId
  1         0.0
  2         0.0
  3         0.0
  4         0.0
  5         0.0
           ...
  193581    0.0
  193583    0.0
  193585    0.0
  193587    0.0
  193609    0.0
  Name: 39, Length: 9724, dtype: float64),
 (452,
  0.31315004538740976,
  movieId
  1         0.0
  2         0.0
  3         0.0
  4         0.0
  5         0.0
           ...
  193581    0.0
  193583    0.0
  193585    0.0
  193587    0.0
  193609    0.0
  Name: 452, Length: 9724, dtype: float64),
 (91,
  0.3113459316281361,
  movieId
  1         4.0
  2         3.0
  3         3.0
  4         0.0
  5         0.0
           ...
  193581    0.0
  193583    0.0
  193585    0.0
  193587    0.0
  193609    0.0
  Name: 91, Length: 9724, dtype: float64),
 (469,
  0.30908917794031804,
  movieId
  1         4.0
  2         0.0
  3         0.0
  4         0.0
  5         0.0
           ...
  193581    0.0
  193583    0.0
  193585    0.0
  193587    0.0
  193609    0.0
  Name: 469, Length: 9724, dtype: float64),
 (45,
  0.307568192550218,
  movieId
  1         4.0
  2         0.0
  3         0.0
  4         0.0
  5         3.0
           ...
  193581    0.0
  193583    0.0
  193585    0.0
  193587    0.0
  193609    0.0
  Name: 45, Length: 9724, dtype: float64)]

In [24]:
film_non_visionati = []
for index, value in rating_matrix.iloc[0].items():
    film_non_visionati.append((index,value))

film_non_visionati = list(filter(lambda item: item[1] == 0, film_non_visionati))

In [25]:
rating_stimato=[]
for (film,_) in film_non_visionati:
    #0 id vero utente
    rate=media_utenti.get(1)
    num=0
    den=0
    for (u,similarita,lista_film_rating) in top_k:
        den=den+similarita
        rate_u_film = lista_film_rating[film] - media_utenti.get(u)
        num=num+(similarita*rate_u_film)
    rating_stimato.append((film,rate+(num/den)))

In [26]:
rating_stimato.sort(key = lambda x: x[1], reverse=True)

### ARRICCHISCO LA STAMPA CON LE INFORMAZIONI RIGUARDO IL TITOLO E IL GENERE

In [27]:
ll = []
for item in rating_stimato:
    rslt_df = df_film[df_film['movieId'] == (item[0])]
    title=rslt_df.iloc[0]['title']
    genere=rslt_df.iloc[0]['genres'].replace("|", ",")
    score = item[1]
    ll.append([title, score, genere])
suggestions = pd.DataFrame(ll[0:50], columns = ['TITOLO', 'RATING PREDETTO', 'GENERE'])

In [28]:
suggestions

,TITOLO,RATING PREDETTO,GENERE
0,"Godfather, The (1972)",5.034600,"Crime,Drama"
1,Aliens (1986),4.991028,"Action,Adventure,Horror,Sci-Fi"
2,Terminator 2: Judgment Day (1991),4.961012,"Action,Sci-Fi"
3,"Sixth Sense, The (1999)",4.809837,"Drama,Horror,Mystery"
4,"Hunt for Red October, The (1990)",4.805610,"Action,Adventure,Thriller"
5,"Godfather: Part II, The (1974)",4.703343,"Crime,Drama"
6,Die Hard (1988),4.636191,"Action,Crime,Thriller"
7,2001: A Space Odyssey (1968),4.469511,"Adventure,Drama,Sci-Fi"
8,Blade Runner (1982),4.414505,"Action,Sci-Fi,Thriller"
9,"Breakfast Club, The (1985)",4.378869,"Comedy,Drama"
10,Star Trek II: The Wrath of Khan (1982),4.235676,"Action,Adventure,Sci-Fi,Thriller"
11,Gattaca (1997),4.090844,"Drama,Sci-Fi,Thriller"
12,Airplane! (1980),3.992847,Comedy
13,"Fifth Element, The (1997)",3.933967,"Action,Adventure,Comedy,Sci-Fi"
14,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),3.909614,"Mystery,Sci-Fi,Thriller"
15,True Lies (1994),3.879459,"Action,Adventure,Comedy,Romance,Thriller"
16,Jaws (1975),3.820936,"Action,Horror"
17,Ferris Bueller's Day Off (1986),3.769217,Comedy
18,Star Trek III: The Search for Spock (1984),3.732106,"Action,Adventure,Sci-Fi"
19,Raising Arizona (1987),3.654150,Comedy
20,Contact (1997),3.566500,"Drama,Sci-Fi"
21,Escape from New York (1981),3.503020,"Action,Adventure,Sci-Fi,Thriller"
22,"Untouchables, The (1987)",3.471306,"Action,Crime,Drama"
23,Star Trek: First Contact (1996),3.447382,"Action,Adventure,Sci-Fi,Thriller"
24,Stand by Me (1986),3.389401,"Adventure,Drama"
25,In the Line of Fire (1993),3.351773,"Action,Thriller"
26,Austin Powers: The Spy Who Shagged Me (1999),3.235888,"Action,Adventure,Comedy"
27,"Fish Called Wanda, A (1988)",3.184875,"Comedy,Crime"
28,Mars Attacks! (1996),3.170981,"Action,Comedy,Sci-Fi"
29,Air Force One (1997),3.169706,"Action,Thriller"
30,Top Gun (1986),3.144293,"Action,Romance"
31,"Crow, The (1994)",3.107884,"Action,Crime,Fantasy,Thriller"
32,Star Trek IV: The Voyage Home (1986),3.101990,"Adventure,Comedy,Sci-Fi"
33,Army of Darkness (1993),3.093323,"Action,Adventure,Comedy,Fantasy,Horror"
34,Glory (1989),3.081615,"Drama,War"
35,"X-Files: Fight the Future, The (1998)",3.050665,"Action,Crime,Mystery,Sci-Fi,Thriller"
36,Deliverance (1972),3.050139,"Adventure,Drama,Thriller"
37,Election (1999),3.040383,Comedy
38,Shakespeare in Love (1998),3.034761,"Comedy,Drama,Romance"
39,Heathers (1989),3.007153,Comedy
40,Dr. Strangelove or: How I Learned to Stop Worr...,2.955643,"Comedy,War"
41,Vertigo (1958),2.920231,"Drama,Mystery,Romance,Thriller"
42,Heavy Metal (1981),2.906731,"Action,Adventure,Animation,Horror,Sci-Fi"
43,GoldenEye (1995),2.903245,"Action,Adventure,Thriller"
44,"Christmas Story, A (1983)",2.901038,"Children,Comedy"
45,Galaxy Quest (1999),2.892684,"Adventure,Comedy,Sci-Fi"
46,Brazil (1985),2.884259,"Fantasy,Sci-Fi"
47,Scream (1996),2.868343,"Comedy,Horror,Mystery,Thriller"
48,There's Something About Mary (1998),2.855988,"Comedy,Romance"
49,"Thing, The (1982)",2.855489,"Action,Horror,Sci-Fi,Thriller"